*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body{
    font-family: 'Poppins';
    background-color: #e6e6e6;
}

html{
    scroll-behavior: smooth;
}

/* =============================== BUTAO =============================== */

.btn-default{
    padding: 20px;
    min-width: 100px;
    min-height: 70px;
    border: none;
    border-radius: 20%;
    background-color: rgb(1, 40, 74);
    color: #fff;
    margin: 8px;
    transition: .3s;
}

.btn-default i{
    font-size: 25px;
}


.btn-default h4{
    margin-top: 10px;
    font-weight: 100;
}

.btn-default:hover{
    background-color: rgb(0, 85, 159);
    transform: scale(1.05);
}






/* =============================== TITULO =============================== */

.section-title-1 h1{
    font-weight: 400;
    
}


/* =============================== HEADER =============================== */



header{
    background-color: rgb(1, 40, 74);
    padding: 20px 3%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.nav-bar{
    display: flex;
    justify-content: space-around;
}
.nav-logo{
    font-size: 20px;
    color: #fff;
}

.nav-list{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.nav-list a{
    text-decoration: none;
    color: #fff;
}



/* =============================== HOME =============================== */

.home {
    display: flex;
    height: 100vh;
    padding-top: 80px; /* Espaço para o header fixo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* =============================== Cartão =============================== */

.card-container{
    width: 370px;
    height: 500px;
    background-color: rgb(1, 40, 74);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.345);
    padding: 20px;
    margin-left: 29px;
}

.card {
    width: 330px;
    height: 200px;
    background: linear-gradient(90deg, #008bdb, #4355ad);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-logo {
    font-size: 24px;
    font-weight: bold;
}

.card-number {
    font-size: 20px;
    letter-spacing: 2px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.card-holder, .card-expiry {
    display: flex;
    flex-direction: column;
}

.card-holder span, .card-expiry span {
    font-size: 12px;
    opacity: 0.7;
}

.card-holder strong, .card-expiry strong {
    font-size: 16px;
}

/* =============================== Saldo =============================== */

.saldo-container{
    width: 360px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.345);
    padding: 20px;
    margin-left: 40px;
    text-align: center;
}

.saldo-container h1{
    font-size: 30px;
    text-align: left;
    margin-left: 15px;
    font-weight: 500;
}

.saldo-container span{
    color: rgb(0, 85, 159);
}

.saldo-container h3{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 15px;
}


/* =============================== Perfil =============================== */


.perfil-container{
    width: 360px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.345);
    padding: 20px;
    margin-left: 40px;
    text-align: center;
}

.perfil-img img{
    border: 2px solid rgb(1, 40, 74);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.perfil-info{
    margin-bottom: 30px;
}

.perfil-config h1{
    font-size: 15px;
    text-align: left;
    margin-left: 15px;
    font-weight: 400;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    border-radius: 20px;
    border: solid 1px rgba(128, 128, 128, 0.494);
    padding: 10px;
}


.perfil-config h1 span{
    color: red;
}

.perfil-config i{
    margin-right: 5px;
}

.perfil-config h1:hover{
    transform: scale(1.05);
}





/* =============================== Investimentos =============================== */

.investments{
    height: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
}

.coins-container{
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 40px;
    gap: 30px;
}








.chart-container {
    width: 60%; /* Largura de 80% do contêiner pai */
    max-width: 500px; /* Define uma largura máxima para evitar que o container fique muito grande */
    padding: 30px; /* Adiciona algum espaço interno */
    background-color: #f5f5f5; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */

}

canvas {
    width: 100%;
    height: 400px;
}
